body {
  position: relative;
  overflow-x: hidden;
}
section {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/main/snow_bg_1.png), url(../img/main/snow_bg_2.png), url(../img/main/snow_bg_3.png), url(../img/main/snow_bg_4.png);
    animation: snow 10s linear infinite;
    background-repeat: repeat;
  }
}
@keyframes snow {0%{background-position:0 0,0 0,0 0}to{background-position:500px 1000px,400px 400px,300px 300px}}
.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 20px;
}
/* header */
.header {
  @include size(100%, 75px);
  @include flex(row, space-between);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: $main-theme-color;
  &-left-wrapper {
    @include flex(row, flex-start);
    .logo {
      a {
        display: block;
        img {
          display: block;
        }
      }
    }
    .gnb {
      margin-left: 10px;
      ul.depth1 {
      @include flex(row, flex-start, flex-start);
        & > li {
          position: relative;
          & > a {
            @include flex;
            text-transform: uppercase;
            color: #FFF;
            padding: 20px;
            i {
              font-size: 1.6em;
              transition: 0.5s ease all;
            }
          }
          /* li.on */
          &::after {
            
            transition: 0.5s ease all;
          }
          &.on {
            &::after {
              position: absolute;
              bottom: -5px;
              left: 0;
              content: "";
              z-index: 10;
              width: 100%;
              height: 5px;
              background-color: $btn-color;
            }
            .depth2 {
              display: block;
            }
            > a {
              background: $btn-color;
              background: linear-gradient(0deg,$btn-color,rgba(0,255,229,0) 50%);
              i {
                transform: rotateX(180deg);
              }
            }
          }
          ul.depth2 {
            @include flex(column, flex-start, flex-start);
            position: absolute;
            z-index: 99;
            top: 100%;
            width: max-content;
            min-width: 100%;
            display: none;
            li {
              width: 100%;
              a {
                display: block;
                width: 100%;
                text-transform: uppercase;
                color: $text-color;
                padding: 15px;
                transition: 0.5s ease all;
                background-color: $btn-color;
                &:hover {
                  background-color: $main-theme-color;
                  color: #FFF;
                }
              }
            }
          }
        }
      }
    }
  }
  &-right-wrapper {
  }
}
/* main */
.main-banner {
  @include size(100%, 37vw);
  background-color: #567;
  position: relative;
  z-index: 99;
  &::after {
    width: 100%;
    height: 80px;
    content: "";
    position: absolute;
    bottom: -105px;
    left: 0;
    background-image: url(../img/main/snow_line.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  video {
    width: 100%;
    display: block;
  }
}
.news-banner {
  @include flex(row, center, flex-start);
  flex-wrap: wrap;
  position: relative;
  background: linear-gradient(90deg,rgba(20,71,102,.85),rgba(41, 210, 254, .85),rgba(20, 71, 102, .85)),
  url(../img/main/news_bg_1.png) 100% 0 no-repeat,
  url(../img/main/news_bg_2.png) 0 0 no-repeat,
  url(../img/main/news_bg_3.png) 100% 100% no-repeat,
  url(../img/main/news_bg_4.png) 0 100% no-repeat;
  background-size: cover, auto, auto, auto, auto;
  padding: 180px 0;
  &::after {
    width: 100%;
    height: 80px;
    content: "";
    position: absolute;
    left: 0;
    bottom: -40px;
    z-index: 100;
    background-image: url(../img/main/snow_line.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .container {
    @include flex(row, center, flex-start);
  }
  .section-title {
    @include flex;
    width: 100%;
    margin-bottom: 60px;
    h2 {
      color: #FFF;
      text-transform: uppercase;
      font-size: 55px;
      text-shadow: 0 0 5px #144766, 0 0 10px #144766, 0 0 20px #144766, 0 0 30px #29d2fe, 0 0 40px #29d2fe, 0 0 50px #fff;
    }
  }
  .highlight {
    width: calc(50% - 60px);
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    z-index: 101;
    .highlight-wrapper {
      .img {
        position: relative;
        img {
          width: 100%;
          display: block;
        }
        &::after {
          width: 100%;
          height: 100%;
          content: "";
          background-image: url(../img/main/ice_effect1.png), url(../img/main/ice_effect2.png);
          background-repeat: no-repeat;
          background-position: top center, bottom center;
          background-size: cover;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
      .txt {
        padding: 30px;
        color: #FFF;
        background-color: $main-theme-color;
        position: relative;
        &::after {
          width: 100%;
          height: 100%;
          content: "";
          background-image: url(../img/main/ice_effect1.png), url(../img/main/ice_effect2.png);
          background-repeat: no-repeat;
          background-position: top center, bottom center;
          background-size: cover;
          position: absolute;
          top: 0;
          left: 0;
        }
        h3 {
          font-size: 25px;
        }
        span {
          display: block;
          margin-top: 15px;
        }
        .btn-wrap {
          display: block;
          height: 100%;
          margin-top: 30px;
          a.btn-design {
            display: inline-block;
          }
        }
      }
    }
  }
  .news {
    width: calc(50% - 60px);
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    z-index: 101;
    .news-wrapper {
      @include flex(row, flex-start, flex-start);
      margin-bottom: 20px;
      background-color: $main-theme-color;
      .img {
        width: 50%;
        display: block;
        
        img {
          width: 100%;
          display: block;
        }
      }
      .txt {
        width: 50%;
        color: #FFF;
        padding: 15px;
      }
      position: relative;
        &::after {
          width: 100%;
          height: 100%;
          content: "";
          background-image: url(../img/main/ice_effect1.png), url(../img/main/ice_effect2.png);
          background-repeat: no-repeat;
          background-size: cover, cover;
          background-position: top center, bottom center;
          position: absolute;
          top: 0;
          left: 0;
        }
    }
    .btn-wrap {
      @include flex;
      width: 100%;
      position: relative;
      z-index: 101;
      
    }
  }
}
a.btn-design {
  background-color: $btn-color;
  padding: 10px 25px;
  font-size: 17px;
  margin-top: 10px;
  text-transform: uppercase;
}
.new-oper {
  padding-top: 90px;
  background: linear-gradient(90deg,rgba(20,71,102,.65), rgba(41,210,254,.65),rgba(20,71,102,.65)), url(../img/main/oper.bg.jpg) 50% 50% no-repeat;
  background-size: cover, cover;
  position: relative;
  z-index: 99;
  &::after {
    width: 100%;
    height: 80px;
    content: "";
    position: absolute;
    left: 0;
    bottom: -40px;
    z-index: 100;
    background-image: url(../img/main/snow_line.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .container {
    .oper-title {
      width: 100%;
      text-align: center;
      h2 {
        font-size: 55px;
        text-transform: uppercase;
        color: #FFF;
        text-shadow: 0 0 5px #144766, 0 0 10px #144766, 0 0 20px #144766, 0 0 30px #29d2fe, 0 0 40px #29d2fe, 0 0 50px #fff;
      }
    }
    .oper-img {
      @include flex;
      position: relative;
      img {
        display: block;
      }
      .btn-wrap {
        position: absolute;
        bottom: 90px;
        left: 50%;
        transform: translateX(-70%);
      }
    }
  }
}

/* footer */
.sns-wrapper {
  @include flex;
  width: 100%;
  height: 90px;
  padding-top: 30px;
  background-color: #000;
  position: relative;
  z-index: 98;
  .container {
    @include flex;
    .sns-list {
      @include flex;
      li {
        a {
          display: block;
          width: 31px;
          height: 31px;
          padding-left: 11px;
          padding-right: 11px;
          img {
            width: 100%;
          }
        }
      }
    }
    .visit {
      font-family: 'Noto Sans KR';
      font-size: 13px;
      color: #888;
      position: absolute;
      bottom: 25%;
      left: 40px;
    }
  }
}
.footer {
  @include flex;
  background-color: #101114;
  .ubsoft {
    width: 20%;
    max-width: 350px;
    background-color: #1d1e21;
    padding: 40px 60px;
    .ub-list {
      @include flex(column, center, flex-start);
      row-gap: 11px;
      margin-top: 40px;
      margin-bottom: 40px;
      li {
        a {
          text-transform: uppercase;
          color: #FFF;
          font-size: 18px;
        }
      }
    }
    .privacy-list {
      @include flex(column, center, flex-start);
      line-height: 1em;
      li {
        a {
          text-transform: uppercase;
          color: #FFF;
          font-size: 12px;
          font-family: 'Noto Sans KR';
        }
      }
    }
  }
  .r6 {
    @include flex(row, center, flex-start);
    width: 80%;
    max-width: 1610px;
    .center {
      padding: 40px;
      .top {
        margin-bottom: 35px;
      }
    }
    .middle {
      @include flex(row, flex-start, flex-start);
      color: #FFF;
      text-transform: uppercase;
      p {
        margin: 10px 0 20px;
        font-family: 'Noto Sans KR';
        font-size: 12px;
      }
      div {
        width: calc(100% / 3);
      }
    }
    .bottom {
      .copy {
        color: #FFF;
        font-family: 'Noto Sans KR';
        word-break: keep-all;
        font-size: 12px;
        line-height: 1.25;
        display: block;
        text-align: center;
        margin-top: 55px;
      }
    }
    
  }
  .right {
    @include flex(column, space-between, flex-start);
    height: 100%;
    color: #FFF;
    text-transform: uppercase;
    padding: 40px;
    .age {
      @include flex(column);
      text-align: center;
      font-size: 10px;
      margin-top: 200px;
      span {
        font-family: 'Noto Sans KR';
        margin-bottom: 20px;
      }
    }
  }
}